input,
textarea {
    &:not([type="checkbox"], [type="radio"], [type="range"]) {
        border: 1px solid var(--black-lightest);
        border-radius: var(--theme-border-radius);
        font-family: inherit;
        font-size: var(--font-14);
        font-weight: var(--font-medium);
        padding-left: 24px;
        padding-right: 24px;
        width: 100%;

        &:focus {
            border-color: var(--black-lightest);
            outline-style: unset;
        }

        &::placeholder {
            color: rgba(var(--black-dark-rgb), 0.3);
        }

        &:disabled {
            background: #fff;
        }
    }

    &.error {
        background-color: rgb(var(--light-error-color-rgb));
        border-color: var(--error-color);

        &::placeholder {
            color: rgba(var(--error-color-rgb), 0.3);
        }
    }
}

textarea {
    padding-bottom: 15px;
    padding-top: 15px;
    resize: none;
}

input {
    height: 45px;
}

select {
    background: #fff;
    border: 1px solid var(--black-lightest);
    border-radius: var(--theme-border-radius);
    font-family: inherit;
    font-size: var(--font-14);
    font-weight: var(--font-medium);
    height: 45px;
    padding: 0 40px 0 20px;
    text-overflow: ellipsis;

    &:disabled {
        border-color: var(--black-lightest);
        color: rgba(var(--black-dark-rgb), 0.3);

        & + .icon-select-arrow {
            fill: rgba(var(--black-dark-rgb), 0.3);
        }
    }

    &.error {
        background-color: #fef7f7;
        border-color: var(--error-color);
        color: var(--error-color);

        &:disabled {
            background-color: rgba(254, 247, 247, 0.2);
            border-color: rgba(229, 15, 56, 0.2);
            color: rgba(229, 15, 56, 0.5);

            & + .icon-select-arrow {
                fill: rgba(229, 15, 56, 0.5);
            }
        }

        &:focus {
            border-color: var(--error-color);
        }
    }

    &:focus {
        border-color: var(--black-light);
        outline-style: unset;
    }

    &::after {
        background-image: url(image("themes/rocket/icons/select-arrow.svg"));
        content: "";
        height: 7px;
        width: 11px;
    }
}

option {
    font-size: 0;
}

.custom-select {
    &.error {
        select {
            background-color: var(--light-error-color);
            border-color: var(--error-color);
            color: var(--error-color);
        }
    }

    select {
        width: 100%;
    }

    option {
        font-size: var(--font-14);
    }

    i,
    svg {
        pointer-events: none;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    &-image-prefix {
        width: 50%;

        select {
            border-radius: 6px;
            padding: 0 40px 0 65px;
            width: 100%;
        }

        option {
            font-size: var(--font-14);
        }

        i,
        svg {
            pointer-events: none;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }

        img {
            left: 15px;
            pointer-events: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.custom-checkbox {
    display: block;
    padding-left: 16px;
    position: relative;
    user-select: none;
    user-select: none;
    user-select: none;
    user-select: none;

    & + .custom-checkbox {
        margin-top: 18px;
    }

    label {
        cursor: pointer;
        display: inline-block;
        margin-top: -10px;
        padding: 10px 16px;

        &.with-effect {
            padding-left: 38px;
        }
    }
}

.custom-checkbox input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
}

.custom-radio {
    margin: 22px 0 36.35px;

    .radio-title {
        color: var(--black-medium);
        font-size: var(--font-12);
        font-weight: var(--font-medium);
        margin: 0 0 16px;
        text-align: start;
        text-transform: uppercase;
    }

    .checkmark {
        background-color: #fff;
        border: 2px solid #b3b3b3;
        border-radius: 24px;
        height: 20px;
        left: 0;
        position: absolute;
        top: 0;
        width: 20px;

        &::after {
            content: "";
            display: none;
            position: absolute;
        }

        &:hover {
            background-color: #ccc;

            .checked {
                background-color: var(--color-general-primary);
            }
        }
    }

    .radio-group-item {
        color: var(--black-dark);
        cursor: pointer;
        display: block;
        font-size: var(--font-14);
        line-height: 14px;
        margin: 0 0 19px;
        padding: 1.5px 0 0 42px;
        position: relative;
        text-align: start;
        user-select: none;
        outline: none;

        input {
            cursor: pointer;
            height: 20px;
            opacity: 0;
            position: absolute;

            &:checked ~ .checkmark {
                background-color: var(--color-general-primary);
                border-color: var(--color-general-primary);
            }

            &:checked ~ .checkmark::after {
                display: block;
            }
        }

        .checkmark::after {
            background: white;
            border-radius: 24px;
            display: block;
            height: 6px;
            left: 5px;
            top: 5px;
            width: 6px;
        }
    }
}

.checkmark,
.effect-box {
    border: solid 1px var(--black-lightest);
    border-radius: 2px;
    height: 16px;
    position: absolute;
    top: 0;
    width: 16px;
}

.effect-box {
    background-repeat: no-repeat;
    background-size: cover;
    left: 30px;
}

.checkmark {
    background-color: #fff;
    left: 0;
}

// hover
.custom-checkbox label:hover input ~ .checkmark {
    border-color: var(--color-general-primary);
}

// Checked
.custom-checkbox input:checked ~ .checkmark {
    background-color: var(--color-general-primary);
    border-color: var(--color-general-primary);
}

.custom-checkbox input:checked ~ .checkmark::after {
    content: "";
}

.custom-checkbox .checkmark::after {
    background-image: url(image("themes/rocket/icons/checkbox-check.svg"));
    background-position: 3px 4px;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.image-selector-container {
    display: flex;
    flex-direction: row;
    margin: 8px 0 0;

    > label {
        position: relative;
    }
}

.images-selector {
    display: flex;
    flex-direction: row;
}

.review-image-delete-button {
    height: 24px;
    width: 24px;
    position: absolute;
    top: 5px;
    right: 11.45px;
    z-index: 100;
    background-color: #fff;
    color: #666;
    font-weight: 100;
    cursor: pointer;
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    border-radius: 5px;
}

.image-selector-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.image-selector-label {
    margin: 20px 0 0;
    font-size: var(--font-12);
    color: var(--black-medium);
    text-transform: uppercase;
}

.image-selector {
    align-content: flex-start;
    cursor: pointer;
    height: auto;
    margin-right: 7px;
    max-width: 96px;
    max-height: 96px;
    width: 25vw;

    &.disabled {
        cursor: unset;

        svg {
            opacity: 0.3;
        }
    }

    @media screen and (min-width: 701px) {
        &:hover:not(.disabled) {
            svg {
                opacity: 0.5;
            }
        }
    }
}

.review-thumb {
    display: block;
    max-height: 96px;
    max-width: 96px;
    margin: auto;
}

.char-limit {
    font-size: var(--font-12);
    text-align: end;
    color: var(--black-light);

    &.near-limit {
        color: var(--error-color);
        opacity: 0.8;
    }
}
