@media only screen and (max-width: 700px) {
    .main-banner {
        --dots-displacement: -28px;

        .holder-main-banner {
            &.container {
                padding-bottom: calc(var(--dots-displacement) * -1);
                margin-bottom: var(--dots-displacement);

                .banner-stopwatch-holder {
                    right: 38px;
                }
            }

            .splide {
                .splide__arrows {
                    display: none;
                }

                .splide__pagination {
                    bottom: var(--dots-displacement);
                }
            }
        }
    }

    section {
        &.banner-1,
        &.banner-2,
        &.banner-3 {
            .banner {
                width: 100%;
            }

            .banner-ratio {
                padding-top: 0;
                padding-bottom: 72.8863%;
            }
        }

        .holder-banner-2,
        .holder-banner-3 {
            & > .flex {
                flex-wrap: wrap;

                & > * + * {
                    margin-top: 16px;
                    margin-left: 0;
                }
            }
        }
    }

    .banner-stopwatch-holder {
        padding: 9px 0px 9px 10px;
        width: 132px;
        font-size: 16px;
        right: 16px;
        top: 16px;

        i {
            min-width: 16px;
            max-width: 16px;
        }
    }

    .holder-banner-product {
        justify-content: center;

        .holder-flags {
            margin: 0 -4px 6px;
        }

        .holder {
            max-width: 471px;

            &-image {
                width: 220px;
            }
        }

        .product-brand {
            font-size: var(--font-12);
        }

        .product-name {
            font-size: var(--font-20);
            min-height: auto;
        }

        .product-old-price {
            font-size: var(--font-12);
        }

        .product-actual-price {
            font-size: var(--font-22);
        }

        .installment-text {
            font-size: var(--font-14);
        }
    }
}
