.products-list {
    font-size: 0;
    flex-wrap: wrap;

    &.flex,
    & > .flex {
        margin-left: -16px;
        margin-right: -16px;

        .box-product,
        .box-product-wrapper {
            margin-left: 16px;
            margin-right: 16px;
            flex: 1 0 215px;
        }

        .box-product-wrapper {
            .box-product {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    .splide__arrows {
        top: -43px !important;
        width: auto !important;
        right: 0;

        .splide__arrow {
            width: 45px !important;
            height: 45px !important;
            box-shadow: initial !important;

            &,
            &:hover {
                background-color: var(--default-background-color) !important;
            }

            &.splide__arrow--prev {
                margin-right: 16px;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .products-list.flex,
    .products-list > .flex {
        .box-product,
        .box-product-wrapper {
            flex: 1 0 175px;
        }
    }
}