@import url(https://fonts.googleapis.com/css?family=Inter);

.rocket-emitter:hover {
    outline: 1px solid #582DB4;

    &:has(.section-header) {
        .emitter-title {
            margin: 0 0 0 0;
            border-radius: 0px 0px 4px 0;
        }
    }

    &:has(.footer) {
        border-radius: 0 0 4px 4px;
    }

    &.--hide-stroke {
        outline: 0px solid transparent;
    }

    > .emitter-title {
        display: flex;
        font-family: 'Inter';
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
        transition: all 0.4s ease-in-out;
        border-radius: 0px 0px 4px 0;
    }

    &:not(.--hide-stroke).--on-top .emitter-title {
        border-radius: 4px 4px 0px 0px;
        margin: -23px 0 0 -1px;
    }
}

.active-menu {
    .rocket-emitter .header-content.-center .categories {
        margin-top: 0;
    }

    .rocket-emitter {
        @media screen and (max-width: 700px) {
            &:hover:has(.section-header) .emitter-title {
                margin: -2px 0px 0 -2px;
                border-radius: 0px 0px 4px 0;
            }

            .categories:hover {
                outline: 1px solid #582DB4;
                margin: 1px !important;
            }

            &.--active:not(.--hide-stroke) {
                .categories {
                    outline: 3px solid #582DB4;
                    margin: 3px !important;
                }

                .emitter-title {
                    margin: -3px 0 0 -3px;
                }
            }
        }
    }
}

.rocket-emitter {
    margin: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    svg {
        margin: 0 3px 0 0;
    }

    .emitter-title {
        display: none;
        align-items: center;
        position: absolute;
        color: #F5F2FB;
        z-index: 999;
        font-size: 12px;
        font-weight: 400;
        height: 22px;
        background-color: #431A86;
        padding: 2px 7px 2px 5px;
        border-radius: 4px 4px 0px 0px;
        transition: all 0.4s ease-in-out;
    }


    &.--hide-stroke {
        outline: 0px solid transparent;

        > .emitter-title {
            display: none;
        }
    }

    &.--active:not(.--hide-stroke) {
        outline: 3px solid #582DB4;

        &.--on-top {
            > .emitter-title {
                border-radius: 4px 4px 0px 0px;
                margin: -23px 0 0 -3px;
                z-index: 99;
            }
        }

        > .emitter-title {
            display: flex;
            background-color: #582DB4;
            font-family: 'Inter';
            font-size: 12px;
            font-weight: 600;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            border-radius: 0px 0px 4px 0px;
            margin: 0px 0 0 -3px;
        }

        &:has(.section-header) {
            border-radius: 4px 4px 0 0;
        }

        &:has(.footer) {
            border-radius: 0 0 4px 4px;
        }
    }

    .header-content.-center .categories {
        margin: 22px calc(((var(--container-max-width) - 100vw)/2) + (var(--scrollbar-width)/2) + 3px) 0;
        
        @media screen and (min-width: 700px) {
            min-width: calc(100vw - (var(--scrollbar-width)) - 6px);
        }
    }

    .emitter-title {
        display: none;
    }
}

body.dark-mode .dropdown .rocket-emitter  > .emitter-title::after {
    background-color: var(--default-background-color) !important;
}

.dropdown {
    &:hover:has(.rocket-emitter):not(.-simple .--active):before {
        border-bottom-color: #431A86;
    }

    &:has(.--active):not(.-simple):before {
        border-bottom-color: #582DB4;
        top: -14px;
    }

    .rocket-emitter {
        border-radius: var(--theme-border-radius);
        margin: 0;

        &.--on-top > .emitter-title {
            margin: -22px 0 0 -1px;
        }

        &.--active:not(.--hide-stroke) > .emitter-title {
            border-radius: var(--theme-border-radius) 0px 4px 0px;
            display: flex !important;
            margin: 0 0 0 0;
        }

        .emitter-title {
            display: none;
            padding: 0 10px 0 10px;
            margin: -1px 0 0 -1px;

            &::before {
                width: 0;
                height: 0;
            }
    
            &::after {
                width: 0;
                height: 0;
            }
        }
    }

    .rocket-emitter.--active:not(.--hide-stroke).--on-top > .emitter-title {
        display: flex;
        border-radius: var(--theme-border-radius) 4px 0px 0px;
        margin: -22px 0 0 -3px;
        padding: 0 10px 0 10px;
        transition: all 0.4s ease-in-out;

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 30px;
            height: 30px;
            background-color: #582DB4;
            margin: 46px 0 0 -10px;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 30px;
            height: 30px;
            background-color: #FFF;
            margin: 51px 0 0 -7px;
            border-radius: var(--theme-border-radius) 0 0;
            border-top: 1px solid #582DB4;
        }
    }

    .rocket-emitter:hover:not(.--hide-stroke .--active).--on-top > .emitter-title {
        display: flex;
        border-radius: var(--theme-border-radius) 4px 0px 0px;
        margin: -22px 0 0 -1px;
        padding: 0 10px 0 10px;
        transition: all 0.4s ease-in-out;

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 30px;
            height: 30px;
            background-color: #431A86;
            margin: 46px 0 0 -10px;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 30px;
            height: 30px;
            background-color: #FFF;
            margin: 51px 0 0 -9px;
            border-radius: var(--theme-border-radius) 0 0;
            border-top: 1px solid #431A86;
        }
    }

    .rocket-emitter:hover {
        .emitter-title {
            display: flex;
            border-radius: var(--theme-border-radius) 0px 4px 0px;
        }
    }
}

.side-cart-emitter .rocket-emitter {
    opacity: 0;
    position: fixed;
    top: 0;
    right: -404px;
    transition: all 0.4s ease-in-out;

    > .rocket-title {
        display: none;
        visibility: hidden;
    }
}

.drawer-active .side-cart-emitter .rocket-emitter {
    display: flex;
    position: fixed;
    top: 3px;
    margin: 0px;
    right: 3px;
    width: clamp(327px, 85vw, 402px);
    height: calc(100% - 6px);
    outline: 0px solid #582DB4;
    opacity: 1;
    transition: all 0.4s ease-in-out;

    .navigation-drawer-background {
        z-index: -1;
    }

    &:hover:not(.--active) {
        outline: 1px solid #582DB4;
        top: 1px;
        right: 1px;
        height: calc(100% - 2px);

        .emitter-title {
            display: flex !important;
        }
    }

    &.--active {
        .emitter-title {
            display: flex !important;
        }
    }
}

.drawer-active .rocket-emitter.--active:has(> .navigation-drawer-background) {
    outline: 3px solid #582DB4;
}

.drawer-active .rocket-emitter:has( > .section-header) {
    outline: 0;

    .emitter-title {
        display: none;
    }
}