.header-content .dropdown.category-subcategory-menu {
    width: 218px;
    padding: 28px 0 32px;
    background-color: var(--default-background-color);

    &.dropdown {
        border: 0;
        margin-top: 15px;
        z-index: 3;

        &:after,
        &:before {
            left: 50px;
        }

        &:after {
            border-bottom-color: var(--default-background-color);
        }
    }

    &.is-active {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    ul {
        text-align: left;
        margin: 0 !important;
    }

    .holder-categories {
        &.-is-loading {
            display: none;
        }

        > ul {
            li {
                &.item-sub-category {
                    margin: 0;
                    padding: 9px 0;
                    overflow: hidden;

                    a {
                        padding: 0;
                    }
                }

                &.item-category {
                    margin: 0 0 21px;
                    position: static;
                    font-size: var(--font-16);

                    &.has-subdropdown {
                        background-image: url(image('themes/rocket/icons/arrow-right.svg'));
                        background-position: calc(100% - 32px) 6px;
                        background-repeat: no-repeat;
                    }

                    .dropdown {
                        z-index: 2;
                    }

                    > a {
                        padding: 0 50px 0 32px;
                    }
                }
            }
        }
    }

    .holder-sub-categories {
        position: absolute;
        padding: 32px 40px 40px;
        min-width: 220px;
        min-height: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: none;
        left: 100%;
        top: 0;

        li {
            color: var(--black-medium);

            &.all-products {
                display: none;
            }

            a {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
    }

    .parent-category-name {
        color: var(--color-general-primary);
        font-size: var(--font-16);
        margin-bottom: 22px;
    }

    .close-dropdown {
        margin-bottom: 28px;
        padding: 11px 15px 11px 29px;
        font-size: var(--font-13);
        color: var(--black-medium);
        border-radius: var(--theme-border-radius);
        background-color: var(--default-background-color);
        background-repeat: no-repeat;
        background-position: 16px center;
        background-image: url(image('themes/rocket/icons/arrow-left-grey.svg'));

        &.-ml {
            margin-left: 24px;
        }
    }
}

@media only screen and (max-width: 700px) {
    .active-dropdown {
        > .dropdown {
            transform: translate3d(0, 0, 0) !important;
            min-height: 100vh;
//            max-height: 100vh;
            box-shadow: none !important;
            padding-bottom: 100px !important;
            overflow-y: scroll;
        }
    }
    .category-dropdown-holder {
        position: static;
        background-image: url(image('themes/rocket/icons/arrow-right.svg'));
        background-repeat: no-repeat;
        background-position: 100% center;

        > span > svg {
            display: none;
        }

        &.active-dropdown {
            ~ li {
                display: none !important;
            }
        }

        &.active-subdropdown {
            .item-category:not(.active-dropdown) {
                display: none;
            }
        }
    }

    .header-content .dropdown.category-subcategory-menu {
        &.dropdown {
            padding: 24px 32px;
            margin-top: 0;
        }

        &,
        .holder-sub-categories {
            &.dropdown {
                top: 0;
                left: 0;
                width: 100%;
                border-radius: 0;
                background-color: white;
                border: 0;
                display: block;
                opacity: 1;
                visibility: visible;
                transform: translate3d(-100%, 0, 0);
                transition: transform 0.3s !important;

                &:not(.-simple):after,
                &:not(.-simple):before {
                    display: none;
                }
            }
        }

        .holder-sub-categories {
            padding: 32px 24px;

            li {
                color: var(--black-dark);
            }
        }

        .holder-categories {
            > .mobile {
                padding: 0;

                .close-dropdown {
                    margin-left: 0;
                }
            }

            > ul li.item-category {
                font-size: var(--font-14);

                &.has-subdropdown {
                    background-position: calc(100% - 24px) 6px;

                    > a {
                        pointer-events: none;
                    }
                }

                > a {
                    padding-left: 0 !important;
                    padding-right: 42px !important;
                }
            }
        }
    }

    .category-title,
    .parent-category-name {
        margin-bottom: 32px;
        padding-bottom: 18px;
        line-height: 24px !important;
        font-size: var(--font-18) !important;
        color: var(--black-dark) !important;
        border-bottom: solid 1px var(--default-background-color);
    }
}

.categories-dropdown {
    display: flex;
}

.h-anchor-container > a.rocket-anchor.main-category {
    cursor: pointer;
}

.subcategories-list {
    border-radius: var(--theme-border-radius);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--front-end-front-end-f-5-f-5-f-5, #F5F5F5);
    background: #FFF;
    display: flex;
    position: absolute;
    padding: 40px !important;
    min-height: 173px;
    max-height: 400px;
    column-gap: 40px;
    font-size: var(--font-14);
    margin: 15px 0 0 0 !important;
    z-index: 3;
    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        border-right: 12px solid transparent;
        border-bottom: 12px solid;
        border-left: 12px solid transparent;
        z-index: 1;
        top: -12px;
        left: var(--nav-left-pos-x);
        right: var(--nav-right-pos-x);
        border-bottom-color: var(--default-background-color);
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        border-right: 12px solid transparent;
        border-bottom: 12px solid;
        border-left: 12px solid transparent;
        z-index: 1;
        top: -10px;
        left: var(--nav-left-pos-x);
        right: var(--nav-right-pos-x);
        border-bottom-color: #FFF;
    }

    @media screen and (max-width: 700px) {
        padding: 0;

        &.dropdown {
            top: 0;
            left: 0;
            width: 100%;
            border-radius: 0;
            background-color: white;
            border: 0;
            display: block;
            opacity: 1;
            visibility: visible;
            transform: translate3d(-100%, 0, 0);
            transition: transform 0.3s !important;

            &:not(.-simple):after,
            &:not(.-simple):before {
                display: none;
            }
        }
    }

    .subcategory-container > .subcategory {
        display: flex;
        align-items: center;
        padding: 0;
        height: 36px;
        width: 200px;
        margin: 0 0 8px;
        text-align: start;
        color: var(--black-medium);
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;

        &:last-child {
            margin: 0;
        }
    }

    .subcategory-container:first-child {
        .subcategory:first-child {
            color: var(--black-light);
        }
    }


    .subcategory-container {
        display: flex;
        flex-flow: column nowrap;
    }
}

@media screen and (max-width: 700px) {
    .header-content .dropdown.category-subcategory-menu .holder-categories
        > ul li.item-category {
        margin: 0;
    }

    .header-content .dropdown.category-subcategory-menu .holder-categories
        > ul li.item-category.has-subdropdown {
        background-position-y: 15px;
    }

    .header-content .dropdown.category-subcategory-menu .close-dropdown {
        padding: 0 15px 0 29px;
    }
}
