.cookies-warning {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 19px;
    z-index: 4;
    background-color: #ffffff;
    width: var(--container-max-width);
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
    padding: 31px 70px 32px;
    border-radius: var(--theme-border-radius);
    border: 1px solid var(--black-lightest);
    transition: all 0.7s;

    .text {
        max-width: 55.3%;
        font-size: var(--font-14);
        line-height: 1.143;
        color: var(--black-medium);
        font-weight: var(--font-regular);

        span {
            white-space: nowrap;
        }

        a {
            color: var(--color-general-primary);
            text-decoration: underline;
        }
    }

    .btn {
        background-color: var(--default-background-color);
        color: var(--black-dark);
        border: 0;
        text-transform: uppercase;
        font-size: var(--font-14);

        &:hover {
            background-color: var(--black-lightest);
        }
    }
}
