.floating-button {
    z-index: 1;
}

.floating-button-container {
    display: flex;
    line-height: 15px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    bottom: 0px;
    right: 0px;
    background-color: var(--white);
    color: var(--black-dark);
    z-index: 4;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.05);

    @include lg {
        display: none;
    }

    .prices-container {
        width: 60%;
        margin: auto 22px;

        .original-price {
            color: var(--color-general-primary);
            font-weight: var(--font-bold);

            &-discount {
                color: var(--black-light);
                font-weight: var(--font-regular);
                font-size: var(--font-12);
                text-decoration: line-through;
            }
        }

        .installments {
            font-size: var(--font-12);
            color: var(--black-light);
            font-weight: var(--font-medium);

            span.installment-price {
                color: var(--color-general-primary);
            }
        }
    }

    .button-container {
        padding: 0px;
        align-self: flex-end;
        width: 40%;
        margin: 16px 16px;

        button {
            padding: 0%;
            width: 100%;
            text-transform: uppercase;
        }
    }
}
