.preview-warning {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 48px;
    background: #431A86;

    &--text {
        font-size: 14px;
        font-weight: 500;
        line-height: 22.4px;
        text-align: center;
        color: #FFF;
    }

    &--close {
        position: absolute;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background: none;
        border: 0;
        right: 8px;
        cursor: pointer;

        .icon {
            min-width: 11px;
        }
    }
}