.products-list {
    &:not(:has(.holder-flags)) .box-product .holder-info > *:first-child {
        margin-top: 0;
    }

    .splide__arrows {
        top: -43px !important;
        width: auto !important;
        right: 0;

        .splide__arrow {
            width: 45px;
            height: 45px;
            box-shadow: initial;

            &.splide__arrow--prev {
                margin-right: 16px;
            }
        }
    }

    .splide__slide {
        .lazy-visibility:not(.is-visible) {
            min-height: 1px;
        }
    }

    .owl-theme {
        .owl-nav {
            top: -76px;
            right: 0;

            [class*="owl-"] {
                width: 45px;
                height: 45px;
                box-shadow: initial;

                &,
                &:hover {
                    background-color: var(--default-background-color);
                }

                &.owl-prev {
                    margin-right: 16px;
                }
            }
        }
    }
}

.products-list.-grid,
.products-search-list {
    display: grid;
    grid-template-columns: repeat(var(--products-grid-columns, 4), 1fr);
    column-gap: var(--products-grid-column-gap, 32px);
    row-gap: var(--products-grid-row-gap, 32px);
}

@media only screen and (min-width: 701px) and (max-width: 1000px) {
    .products-list.-grid {
        --products-grid-columns: 3;
        --products-grid-column-gap: 12px;
        --products-grid-row-gap: 12px;
    }
}
