<!DOCTYPE html>
<html lang="pt-br">

	<head>
		{% include "elements/head.twig" %}
	</head>
	<body class="{{ merchantData.alias }} {{ page }}
		{{ pageConfig.data.theme.params.show_dark_mode ? 'dark-mode' : '' }}
		{{ is_color_contrasting(pageConfig.data.theme.params.color_general_background | default('#FFFFFF'), "#222222") ? '' : 'contrast-icons' }}
	">
		<div id="app">
			{% include 'sections/global/header.twig' %}

			{% for section in mainSections %}
				{% if section.visible %}
					{% include get_section_file(section.section_alias, page) with section %}
				{% endif %}
			{% endfor %}

			{% include 'sections/global/footer.twig' %}

			<smooth-scroll :display-at="300">
				<template slot-scope="{ scroll }">
					<div class="scroll-top" @click="scroll">
						<i class="icon icon-scroll-top"></i>
					</div>
				</template>
			</smooth-scroll>

			{% if merchantData.cookies_policy.active %}
				<div class="container">
					<cookies-warning></cookies-warning>
				</div>
			{% endif %}
		</div>
		{% include "elements/footer.twig" %}
	</body>
</html>
