.quantity-selector {
    input {
        text-align: center;
        font-size: var(--font-16);
        height: 50px;
    }

    &.disabled {
        cursor: default;
        // opacity: .5;

        * {
            opacity: 0.5;
        }
    }
}

.quantity-btn {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    cursor: pointer;
    font-size: 0;
    z-index: 1;
    top: 0;

    &.-minus {
        padding: 24px 0 22px 16px;
    }

    &.-more {
        right: 0;
        padding: 18px 16px 16px 0;
    }
}
