.not-found {
    padding-top: 100px;
    text-align: center;

    i {
        margin-bottom: 28px;
    }

    p {
        margin-top: 30px;
        color: var(--black-medium);
        line-height: 28px;
    }

    a {
        margin-top: 32px;
        margin-bottom: 20px;
    }
}
