.theme-title {
    font-size: var(--font-30);
    font-family: var(--fonts-titles-family);
    font-weight: var(--fonts-titles-weight);
    text-transform: var(--fonts-titles-uppercase);
    line-height: 33px;
}

.link-alike {
    &:hover {
        text-decoration: underline;
    }
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &-multiline {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;

        &.l1 {
            -webkit-line-clamp: 1;
        }
        &.l2 {
            -webkit-line-clamp: 2;
        }
        &.l3 {
            -webkit-line-clamp: 3;
        }
        &.l4 {
            -webkit-line-clamp: 4;
        }
    }
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-underline {
    text-decoration: underline;
}

.full-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.flex {
    display: flex;

    &.-between {
        justify-content: space-between;
    }

    &.-hcenter {
        justify-content: center;
    }

    &.-hend {
        justify-content: flex-end;
    }

    &.-evenly {
        justify-content: space-evenly;
    }

    &.-vcenter {
        align-items: center;
    }

    &.-vtop {
        align-items: flex-start;
    }

    .-baseline {
        align-items: baseline;
    }

    &.-wrap {
        flex-wrap: wrap;
    }
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

.contact-whatsapp {
    &.green {
        color: var(--green);

        svg {
            fill: var(--green);
        }
    }
}

.price {
    color: var(--color-general-primary);
    font-weight: var(--font-bold);

    .payment-type {
        font-size: var(--font-13);
    }

    .payment-type--product {
        font-size: var(--font-20);
    }
}

.old-price {
    color: var(--black-light);
    text-decoration: line-through;
}

.editor-theme {
    color: var(--black-dark);

    * {
        font-size: var(--font-14);
        font-weight: var(--font-medium);
        word-break: break-word;
        max-width: 100%;
    }

    img {
        height: auto;
    }

    strong {
        font-weight: var(--font-bold);
    }

    table {
        width: 100% !important;
    }

    h1 {
        &,
        * {
            font-size: var(--font-24);
        }
    }

    h2 {
        &,
        * {
            font-size: var(--font-21);
        }
    }

    h3 {
        &,
        * {
            font-size: var(--font-18);
        }
    }

    h4 {
        &,
        * {
            font-size: var(--font-14);
        }
    }

    ul {
        list-style-type: initial !important;
        margin: initial !important;
        padding: initial !important;
        padding-inline-start: 40px !important;
    }
}

.ql-align- {
    &center {
        text-align: center;
    }

    &right {
        text-align: right;
    }

    &justify {
        text-align: justify;
        text-justify: inter-word;
    }
}
.ql-indent- {
    &1 {
        padding-inline-start: 40px;
    }

    &2 {
        padding-inline-start: 80px;
    }

    &3 {
        padding-inline-start: 120px;
    }
}

.ql-image-align- {
    &center {
        display: block;
        margin: auto;
    }

    &right {
        display: inline;
        float: right;
        margin: 0px 0px 1em 1em;
    }

    &left {
        display: inline;
        float: left;
        margin: 0px 1em 1em 0px;
    }
}
