<section class="not-found">
    <i class="icon icon-404"></i>

    <h1 class="theme-title">Oops! Página não encontrada.</h1>

    <p class="-description">
        Verifique se o endereço desejado foi digitado corretamente.<br>
        O conteúdo também pode ter sido removido ou não estar mais disponível.
    </p>

    <a href="/" class="btn btn-secundary">Ir para a página inicial</a>
</section>