.section-text-button-2-banners {
    padding: 40px 0;
    display: flex;
    justify-content: center;

    &--container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        align-content: center;
        gap: 32px;

        @media screen and (max-width: 450px) {
            max-width: 100%;
        }
    }

    &--description {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        width: clamp(358px, 46vw, 574px);

        @media screen and (max-width: 1220px) {
            width: clamp(358px, 50vw, 474px);
            margin: 0 auto;
        }

        @media screen and (max-width: 450px) {
            max-width: 358px;
            width: 100%;
        }

        &.--left {
            text-align: left;
        }

        &.--center {
            text-align: center;
        }

        .title-text {
            max-width: 100%;
            margin: 0 0 clamp(12px, 2vw, 24px) 0;
            font-size: 30px;
            color: var(--Neutral-Color-Low-Pure, #141316);
            overflow-wrap: break-word;
            font-family: var(--fonts-titles-family);
            font-weight: var(--fonts-titles-weight);
            text-transform: var(--fonts-titles-uppercase);
        }

        .description-text {
            max-width: 100%;
            margin: 0 0 clamp(20px, 2.2vw, 40px) 0;
            color: var(--Neutral-Color-Low-Dark, #56545E);
            font-size: 16px;
            font-weight: 400;
            overflow-wrap: break-word;
        }
    }

    &--description.--right {
        align-items: center;
    }

    &--banners {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        max-width: 574px;

        @media screen and (max-width: 1220px) {
            margin: 0 auto;
        }

        @media screen and (max-width: 450px) {
            max-width: 358px;
            width: 100%;
        }
    }

    &--banners img {
        width: clamp(358px, 50vw, 574px);
        max-width: 574px;
        object-fit: cover;

        @media screen and (max-width: 1220px) {
            width: clamp(358px, 50vw, 474px);
            max-width: 474px;
        }

        @media screen and (max-width: 450px) {
            width: 100%;
        }
    }

    &--container.--right {
        & > div:first-child {
            order: 2;
        }

        & > div:last-child {
            order: 1;
        }
    }

    .section--button {
        display: flex;
        padding: 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 1px solid #282829;
        background-color: #FFFFFF;
        max-width: 124px;
        color: #282829;
        font-weight: 400;
    }

    .rocket-anchor {
        display: inline-block;
        border-radius: var(--theme-border-radius);
        text-decoration: none !important;
        text-transform: var(--fonts-buttons-uppercase);
        min-height: 47px;
        min-width: 121px;
        max-width: 375px;
        cursor: pointer;
        text-align: center;
        background-color: var(--color-btn-primary-background);
        border-color: var(--color-btn-primary-background-outline);
        color: var(--color-btn-primary-text);
    }

    .rocket-anchor.--secondary {
        background-color: var(--color-btn-secundary-background);
        border-color: var(--color-btn-secundary-background-outline);
        color: var(--color-btn-secundary-text);
    }
}

.section-text-button-2-banners--banners.--multiple-resources {
    height: clamp(237px, 33vw, 442px);

    img {
        width: clamp(173px, 21vw, 279px);
        object-fit: cover;

        @media screen and (max-width: 1220px) {
            width: clamp(173px, 24vw, 229px);
        }

        @media screen and (max-width: 450px) {
            width: calc(50% - 8px);
        }
    }
}
