body.dark-mode {
    --dark-bg: #141316;
    --black-dark: #f5f5f5;
    --default-background-color: #2d2d2d;
    --input-background: #363636;

    background-color: var(--dark-bg) !important;

    &:not(.home) .header,
    .section-header.-fixed .header {
        border-color: rgba(102, 102, 102, 0.5);
    }

    .cookies-warning {
        background-color: var(--default-background-color);
        border-color: var(--default-background-color);

        .text {
            color: var(--black-light);
        }

        .btn {
            background-color: var(--dark-bg);

            &:hover {
                background-color: var(--black-medium);
            }
        }
    }

    .banner-stopwatch-holder .stopwatch {
        color: #222222;
    }

    .c-highlight-content--slide:hover {
        color: var(--black-light);
    }

    .section-text-button-2-banners .title-text {
        color: var(--black-dark);
    }

    .installment-text {
        &,
        .price {
            color: var(--black-lightest);
        }
    }

    .splide:not(.splide--ttb) .splide__arrow {
        &,
        &:hover {
            background-image: url(image(
                "themes/rocket/icons/black-friday/carousel-arrow.svg"
            ));
        }
    }

    hr {
        border-color: var(--black-medium);
    }

    input,
    textarea {
        &:not([type="checkbox"], [type="radio"], [type="range"]) {
            background-color: var(--input-background);
            border-color: var(--input-background);
            color: var(--white);
        }

        &::placeholder {
            color: var(--black-light);
        }

        &.error {
            border-color: var(--error-color);

            &::placeholder {
                color: rgba(var(--error-color-rgb), 0.3);
            }
        }
    }

    select {
        background-color: var(--input-background);
        color: var(--white);

        &:not(:disabled):not(.error) {
            border-color: transparent;
        }

        &.error {
            border-color: var(--error-color);
            color: var(--error-color);
        }

        &:disabled {
            border: 0;
            opacity: 0.3;

            & + .icon-select-arrow {
                opacity: 0.3;
            }
        }

        &::after {
            background-image: url(image(
                "themes/rocket/icons/black-friday/select-arrow.svg"
            ));
        }
    }

    .custom-select.error select {
        background-color: #363636;
    }

    .input-customization {
        .customization-spec__value {
            color: var(--white);
        }

        .customization-total {
            color: var(--white);
        }
    }

    .custom-radio .radio-group-item .checkmark {
        border-color: transparent;

        &.checked::after {
            background-color: var(--default-background-color);
        }

        &::after {
            background-color: transparent;
        }
    }

    .selected-filters .selected-filter {
        background-image: url(image(
            "themes/rocket/icons/black-friday/x-close.svg"
        ));
    }

    .scroll-top {
        background-color: var(--white-smoke);
    }

    .dropdown {
        background-color: var(--default-background-color);

        &:before {
            border-bottom-color: var(--default-background-color);
        }

        &:after {
            border-bottom-color: var(--default-background-color);
        }
    }

    .header-content .dropdown.category-subcategory-menu {
        background-color: var(--default-background-color);
        border: 2px solid var(--default-background-color);

        &:after {
            border-bottom-color: var(--default-background-color);
        }

        .holder-categories > ul li.item-category.has-subdropdown {
            background-image: url(image(
                "themes/rocket/icons/black-friday/arrow-right.svg"
            ));
        }

        .holder-sub-categories {
            top: -2px;
            background-color: #363636;

            li {
                color: var(--black-light);
            }
        }
    }

    .cart-header .-title {
        color: var(--black-light);
    }

    .product-cart-box {
        &__text--product-name {
            color: var(--white);
        }

        &__text--sku {
            color: var(--black-light);
        }
    }

    .side-cart-header,
    .side-cart-content,
    .side-cart-button-container {
        background-color: var(--default-background-color);
    }

    .side-cart-title {
        color: var(--white);
    }

    .side-cart-total-text {
        color: var(--black-light);
    }

    .navigation-drawer-container .navigation-drawer {
        background-color: var(--default-background-color);
    }

    .continue-buying svg {
        fill: var(--color-general-primary) !important;
    }

    .icon {
        &-minus {
            background-image: url(image(
                "themes/rocket/icons/black-friday/minus.svg"
            ));
        }

        &-more {
            background-image: url(image(
                "themes/rocket/icons/black-friday/plus.svg"
            ));
        }

        &-empty-cart {
            background-image: url(image(
                "themes/rocket/icons/black-friday/empty-cart.svg"
            ));
        }

        &-phone {
            background-image: url(image(
                "themes/rocket/icons/black-friday/phone.svg"
            ));
        }

        &-tracker {
            background-image: url(image(
                "themes/rocket/icons/black-friday/tracker.svg"
            ));
        }

        &-checklist {
            background-image: url(image(
                "themes/rocket/icons/black-friday/checklist.svg"
            ));
        }

        &-loader-dark {
            background-image: url(image(
                "themes/rocket/icons/black-friday/loader-dark.svg"
            ));
        }

        &-video-play {
            background-image: url(image(
                "themes/rocket/icons/black-friday/video-play.svg"
            ));
        }

        &-order {
            background-image: url(image(
                "themes/rocket/icons/black-friday/order.svg"
            ));
        }

        &-mosaic {
            background-image: url(image(
                "themes/rocket/icons/black-friday/mosaic.svg"
            ));
        }

        &-list {
            background-image: url(image(
                "themes/rocket/icons/black-friday/list.svg"
            ));
        }

        &-filters {
            background-image: url(image(
                "themes/rocket/icons/black-friday/filters.svg"
            ));
        }
    }

    .category-content {
        .filters {
            background-color: var(--default-background-color);
        }

        .select-order .-title {
            color: var(--white-smoke);
        }
    }

    .checkmark {
        background-color: #363636;
        border-color: var(--black-medium);
    }

    .holder-price-slider {
        .vue-slider__background {
            background-color: var(--black-medium);
        }

        .vue-slider-dot-handle {
            background-color: var(--white-smoke);
        }

        input[type="range"]::-webkit-slider-thumb {
            background-color: var(--front-end-f5f5f5);
        }
    }

    .product-specifications .container .-holder {
        background-color: var(--default-background-color);
    }

    // Modals
    .modal {
        background-color: var(--default-background-color);

        .theme-title {
            color: var(--white);
        }
    }

    .modal-title {
        color: #ffffff;
    }

    .btn-modal-primary {
        background-color: var(--black-medium);
        border-color: var(--black-medium);
    }

    .btn-modal-secundary {
        background-color: var(--default-background-color);

        &:hover {
            background-color: var(--default-background-color);
        }
    }

    #modal-confirm-add-to-cart {
        hr {
            border-color: var(--black-medium);
        }

        .product {
            background-color: #363636;

            ul li {
                color: var(--black-light);
            }
        }
    }

    #modal-cart-confirm .btn-clean {
        border-color: var(--default-background-color);
        color: var(--white);
    }

    // Icons
    .icon-select-arrow:not(.-error) {
        fill: #ffffff;
    }

    // Product

    .main-product-images-nav .video-thumb {
        background-color: var(--default-background-color);

        &:hover {
            border-color: var(--black-light);
        }

        .-text {
            color: var(--black-light);
        }
    }

    .main-product-content {
        .show-installments {
            color: var(--black-light);
        }

        .holder-variant-button {
            &.error {
                .variant-button:not(.selected) {
                    background-color: #361818;
                    border-color: var(--error-color) !important;
                }
            }

            .variant-button:not(.selected) {
                background-color: var(--input-background);
                border-color: (var(--input-background));

                &:hover {
                    border-color: var(--black-dark);
                }
            }
        }
    }

    .main-product-shipping label {
        color: var(--black-light);
    }

    table td,
    table th {
        border-color: var(--black-medium);
    }

    .buy-together-cart-group-title {
        color: var(--white);
        background-color: var(--default-background-color);
    }

    .buy-together-total-value {
        background-color: #363636;

        .discount-percent {
            color: var(--white);
        }
    }

    .editor-theme {
        color: var(--black-light);
    }

    .product-reviews {
        .active-slider {
            background-color: var(--dark-bg);
        }

        .holder-product-reviews-title > .active-slider {
            height: 66px;
        }

        .holder-product-reviews-title:not(.single) {
            background-color: #353535;

            .theme-title {
                background-color: transparent;

                .-title {
                    line-height: 55px;
                }
            }
        }

        .tab-content {
            background-color: var(--default-background-color);
        }

        .holder-review {
            background-color: var(--dark-bg);
            border: 0;
        }

        .-name {
            color: var(--black-medium);
        }

        .-text {
            color: var(--black-light);
        }

        .holder-question {
            background-color: var(--dark-bg);

            .answer {
                background-color: #363636;
            }
        }
    }

    .ratings-list {
        .holder-review {
            background-color: #2d2d2d;
            border-radius: var(--theme-border-radius);
        }

        .review-content {
            .-client,
            .-message,
            .-product-link {
                color: var(--black-light);
            }

            .-product-link svg {
                fill: var(--black-light);
            }

            .link-alike,
            .-product-title {
                color: var(--white);
            }

            .-product:hover {
                background-color: #363636;
            }
        }
    }

    .masonry-container .header .select-order .-title {
        color: var(--black-light);
    }

    .average-reviews {
        .helper-text {
            color: var(--black-light);
        }

        .holder-grades {
            border-color: var(--black-medium);

            .bar {
                background-color: rgba(102, 102, 102, 0.4);
            }

            span.review-count {
                color: var(--black-light);
            }
        }
    }

    .main-product-inventory-countdown {
        background-color: var(--default-background-color);

        .countdown-text {
            color: var(--black-light);
        }
    }

    .main-product-content .percentage-bar-holder {
        background-color: var(--black-medium);
    }

    .image-selector svg rect:first-child {
        fill: #363636;
    }

    .buy-together {
        .modal-content .product-description {
            background-color: #363636;

            .text ul li {
                color: var(--black-light);
            }
        }

        #modal-ProductCustomization hr {
            border-color: var(--black-medium);
        }

        .products-customization {
            background-color: #363636;

            .helper-text {
                color: var(--black-light);
            }
        }
    }

    .floating-button-container {
        background-color: var(--default-background-color);
    }

    @media only screen and (max-width: 700px) {
        .header-content {
            .categories {
                background-color: var(--default-background-color);
            }

            .menu-trigger {
                svg {
                    fill: #ffffff;
                }
            }

            .dropdown.category-subcategory-menu {
                .close-dropdown {
                    color: var(--black-light);
                    background-color: #363636;
                    background-image: url(image(
                        "themes/rocket/icons/black-friday/arrow-left-grey.svg"
                    ));
                }

                .holder-sub-categories {
                    background-color: var(--default-background-color);
                }
            }
        }

        .category-dropdown-holder {
            background-image: url(image(
                "themes/rocket/icons/black-friday/arrow-right.svg"
            ));
        }

        .category-title,
        .parent-category-name {
            color: var(--white);
            border-color: #222222;
        }

        #category-order-select {
            background-color: transparent;
        }

        .category-options > div:not(.holder-sort) span {
            color: var(--white);
        }

        .product-reviews {
            .holder-review,
            .holder-question {
                background-color: transparent;

                &:not(:last-child) {
                    border-bottom: 1px solid var(--black-medium);
                }
            }

            .load-more {
                color: var(--black-light);
            }
        }
    }

    .h-anchor-container > .subcategories-list {
        border: 1px solid #333;
        background: #333;

        &::after {
            border-bottom-color: #333;
        }
    }

    .subcategories-list > .subcategory-container {
        .subcategory {
            color: var(--front-end-front-end-black-medium, #999);

            &.--all-products {
                color: var(--front-end-front-end-black-light, #666);
            }
        }
    }

    .subcategory-container > .subcategory {
        cursor: pointer;
    }

    .nav-drawer-content {
        background: #2d2d2d;

        & > .selected-category-name {
            color: #ffffff;
        }

        .spacer {
            border-color: #666666;
        }

        .rocket-anchor:first-of-type {
            color: var(--front-end-front-end-black-medium, #666);
        }

        .rocket-button.--close-btn {
            color: var(--black-light);
            background-color: #363636;
        }

        .h-category-child {
            background-color: #2d2d2d;
            line-height: 20px;
        }

        .h-category-child > .rocket-anchor {
            color: var(--front-end-front-end-black-light, #999);
        }
    }

    .rocket-button.main-link {
        background-image: url(image(
            "themes/rocket/icons/black-friday/arrow-right.svg"
        ));
    }

    .rkt-header-shopping-page-redirect {
        svg {
            fill: #f5f5f5;
        }

        .rkt-link-container {
            background-color: #333;
            border: 1px solid #333;
        }

        .rkt-link-container::before,
        .rkt-link-container::after {
            border-bottom-color: #333;
        }

        .rkt-link-container-row {
            color: #999999;

            svg {
                fill: #999999;
            }
        }
    }

    @media screen and (max-width: 700px) {
        .categories-menu {
            color: #999999;
        }

        .rkt-svg {
            fill: #999999 !important;
        }
    }
}
