.dropdown {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background: white;
    transition: visibility 0.3s, opacity 0s 0.1s linear;
    z-index: 1;
    border-radius: var(--theme-border-radius);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--default-background-color);

    &:not(.-simple) {
        &:after,
        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            border-right: 12px solid transparent;
            border-bottom: 12px solid;
            border-left: 12px solid transparent;
            z-index: 1;
        }

        &:before {
            top: -12px;
            border-bottom-color: var(--default-background-color);
        }

        &:after {
            top: -10px;
            border-bottom-color: #ffffff;
        }
    }
}

.dropdown-holder {
    position: relative;
    z-index: 2;

    &:hover {
        & > .dropdown {
            opacity: 1;
            visibility: visible;
            transition: visibility 0s, opacity 0s linear;
        }
    }
}

.dropdown-enter-active,
.dropdown-leave-active {
    transition: all 0.5s;
}

.dropdown-enter,
.dropdown-leave-to {
    opacity: 0;
}

.rkt-header-shopping-page-redirect {
    display: inline-flex;
    justify-content: center;
    padding: 8px 10px;
    cursor: pointer;

    .rkt-link-container {
        position: absolute;
        margin: 35px 0 0 0;
        padding: 24px;
        background-color: var(--white);
        border-radius: var(--theme-border-radius);
        color: #222;
        border: 1px solid var(--front-end-f5f5f5, #f5f5f5);
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.05);
        z-index: 999;
    }

    .rkt-link-container-row {
        display: flex;
        align-items: center;
        cursor: pointer;

        svg {
            fill: #000000;
        }
    }

    .rkt-link-container::before,
    .rkt-link-container::after {
        content: "";
        position: absolute;
        border-style: solid;
        border-width: 12px;
        left: 50%;
        transform: translateX(-50%);
    }

    .rkt-link-container::before {
        border-color: transparent transparent var(--front-end-f5f5f5, #f5f5f5)
            transparent;
        top: -25px;
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.05));
    }

    .rkt-link-container::after {
        border-color: transparent transparent var(--white) transparent;
        top: -22px;
    }
}
