.dropdown {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background: white;
    transition: visibility .3s, opacity 0s .1s linear;
    z-index: 1;

    &:not(.-simple) {
        &:after,
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            border-right: 12px solid transparent;
            border-bottom: 12px solid;
            border-left: 12px solid transparent;
            z-index: 1;
        }

        &:before {
            top: -12px;
        }

        &:after {
            top: -10px;
            border-bottom-color: #FFFFFF;
        }
    }
}

.dropdown-holder {
    position: relative;
    z-index: 2;

    &:hover {
        & > .dropdown {
            opacity: 1;
            visibility: visible;
            transition: visibility 0s, opacity 0s linear;
        }
    }
}