form {
    label {
        color: var(--black-medium-color-contrast);
        display: inline-block;
        font-size: 12px;
        margin-bottom: 8px;

        &.-hide {
            color: transparent;
            font-size: 0;
            line-height: 0;
        }
    }

    input {
        & + label {
            margin-top: 22px;
        }
    }
}
