@import "settings/_index";
@import "functions";
@import "modal";
@import "dropdown";
@import "typographic";
@import "../elements/menus/category-subcategory";
@import "mixins/_index";
@import "spacer";
@import "mixins/buttons";
@import "mixins/_breakpoints";
@import "mixins/grid";
@import "icons";
@import "../sections/header";
@import "buttons";
@import "../elements/box-product";
@import "../elements/products-list";
@import "../sections/newsletter";
@import "inputs";
@import "../sections/footer";
@import "modal";
@import "../elements/quantity-selector";
@import "form";
@import "table";
@import "dropdown";
@import "breadcrumbs";
@import "../elements/smooth-scroll";
@import "../elements/search-bar";
@import "../elements/cart/mini-cart";
@import "typographic";
@import "../pages/404";
@import "../elements/floating-button";
@import "../elements/cookies-warning";
@import "stepper";
@import "../elements/cart/side-cart";
@import "../elements/menus/navigation-drawer";
@import "../elements/cart/product-cart-box";
@import "../sections/highlight";
@import "../sections/top-ratings";
@import "dark-mode";
@import "../sections/categories-highlight";
@import "../elements/rocket-emitter";
@import "../sections/text-button-section";
@import "../sections/text-button-2-banners";
@import "../sections/grid-collection";
@import "../sections/cashback";
@import "contrasted-icons";

:root {
    --flag-color: #333333;
    --flag-bg-color: #d0d0d0;
}

.over-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    &.-loader {
        z-index: 15;
    }
}

.mosaic-column {
    flex: 1;
}

.read-more {
    .-button {
        display: inline-block;
        cursor: pointer;
        font-weight: var(--font-bold);
    }
}

.expandable-holder {
    transition: height 0.3s;
    overflow: hidden;
}

.hide {
    display: none;
}

a.no-action {

    &,
    &:hover {
        cursor: default;
        text-decoration: inherit;
    }
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

/* #region -- General */

.block-scroll {
    overflow: hidden !important;

    @media screen and (max-width: 450px) {
        position: fixed;
        margin-top: calc((var(--margin-to-scroll) / 2) * (-1));
    }
}

.mh100 {
    max-height: 100%;
    overflow: hidden;
}

.modal-background,
.over-background {
    background-color: rgba(var(--black-dark-rgb), 0.7);
    overflow: auto;
}

.mobile {
    display: none !important;
}

.scroll-top {
    position: fixed;
    right: 20px;
    bottom: 100px;
    width: 50px;
    height: 50px;
    border-radius: var(--theme-border-radius);
    background-color: var(--background-contrasting-color);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.6;

    @media only screen and (min-width: 700px) {
        &:hover {
            opacity: 1;
        }
    }
}

.error-text {
    color: var(--error-color);
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 16px;
    word-break: break-word;
}

.logo {
    flex: 0 1 auto;
    font-size: 0;
    width: 100%;
    max-width: 150px;

    img {
        width: 100%;
        max-width: 150px;
        max-height: 150px;
        height: auto;
    }
}

html {
    font-size: var(--fonts-texts-size);
}

body {
    font-family: var(--fonts-texts-family);
    margin: 0;
    padding: 0;
    color: var(--black-dark-color-contrast);
    font-weight: var(--font-medium);
    overflow-x: hidden;
    background-color: var(--background-color);

    @media screen and (min-width: 701px) {
        overflow-x: auto;
    }

    &.no-scroll {
        overflow: hidden;
    }
}

* {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    // Best font
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased;

    -moz-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
    -ms-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);

    -webkit-text-stroke: 1px transparent;
    -moz-text-stroke: 1px transparent;
    -ms-text-stroke: 1px transparent;
    text-stroke: 1px transparent;
}

a {
    color: inherit;
    text-decoration: inherit;

    &:not(.-clean):hover {
        text-decoration: underline;
    }

    .-invisible {
        font-size: 0;
        line-height: 0;
        color: transparent;
        opacity: 0;
    }
}

ul:not(.splide__list) {
    list-style-type: none;
    padding: 0;
    margin: 0;

    &.inline {

        &,
        >li {
            display: inline-block;
        }
    }

    li {

        a,
        .padding {
            display: inline-block;
            padding-top: 9px;
            padding-bottom: 9px;
        }
    }
}

hr {
    border: 0;
    border-top: solid 1px var(--default-background-color);
}

div>section:not(.main-banner):not(.category-content):not(.main-product-content):not(.section-pages):not(.section-header) {
    margin-top: 80px;
}

.container {
    max-width: var(--container-max-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.relative {
    position: relative;
}

.inline-block {
    display: inline-block;
}

.holder-flags {
    margin-top: 3px;

    &+.product-name {
        margin-top: 7px;
    }

    &+.product-brand {
        margin-top: 6px;
    }
}

.flag {
    display: inline-block;
    padding: 6px 8px;
    margin: 3px 3px 0 0;
    border-radius: var(--grids-products-tags-radius);
    color: var(--flag-color);
    background-color: var(--flag-bg-color);
    font-size: var(--font-11);
    line-height: 1.1;
}

.discount-tag {
    position: relative;
    display: inline-block;
    padding: 6px 8px;
    height: 24px;
    line-height: 6px;
    border-radius: var(--grids-products-tags-radius);
    color: var(--discount-tag-color);
    background-color: var(--discount-tag-background);
    font-size: var(--font-13);
    font-weight: var(--font-bold);
    border: 3px solid var(--discount-tag-background);

    span {
        &:before {
            content: "-";
        }

        &:after {
            content: "%";
        }
    }
}

.image-ratio {
    padding-bottom: 100%;
    position: relative;

    img {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: contain;
    }
}

.alert {
    border-radius: var(--theme-border-radius);
    padding: 14px 24px;
    line-height: 18px;

    &.-yellow {
        color: #c29100;
        background-color: var(--product-not-found-alert);
    }

    &.-red {
        color: var(--error-color);
        font-size: var(--font-14);
        background-color: var(--error-color-background);
    }
}

.loader-bg {
    width: 100%;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 10.5px;
    position: relative;
    opacity: 0.4;

    &.w-25 {
        width: 25%;
    }

    &.w-50 {
        width: 50%;
    }

    &.w-75 {
        width: 75%;
    }

    &.w-90 {
        width: 90%;
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

/* #endregion -- General */

.sku {
    &-select {
        margin-bottom: 24px;

        .helper-text {
            font-size: var(--font-14);
            line-height: 1.15;
            margin-top: 8px;
            margin-bottom: 20px;

            &.-error {
                color: var(--error-color);
            }
        }
    }

    &-option {
        min-height: 67px;

        &:not(.buttons) {
            max-width: 221px;
        }

        &+.sku-option {
            margin-top: 16px;
        }

        label {
            display: inline-block;
            margin-bottom: 6px;
            font-size: var(--font-12);
            color: var(--black-medium-color-contrast);
            text-transform: uppercase;
        }

        select {
            font-size: var(--font-13);
            color: var(--black-dark);
            background-color: var(--white);

            &:not(:disabled):not(.error) {
                border-color: var(--black-medium-color-contrast);
            }

            &:disabled:not(.error) {
                border-color: var(--black-medium-color-contrast);
                background-color: var(--input-background);
            }
        }
    }
}

.input-customization {
    .custom-select {
        margin-bottom: 7px;
    }

    &-title {
        color: var(--black-medium-color-contrast);
        font-size: var(--font-12);
        font-weight: var(--font-medium);
        margin-bottom: 7px;
        text-align: left;
        text-transform: uppercase;

        &.-optional::after {
            content: " (OPCIONAL)";
        }
    }

    .error-message {
        color: var(--error-color);
        font-size: var(--font-12);
        font-weight: var(--font-medium);
        margin-bottom: 7px;
        text-align: start;
    }

    .customization-spec {
        color: #999;
        font-size: 12px;

        &__value {
            color: var(--black-dark-color-contrast);
            font-weight: bold;
        }
    }

    .customization-total {
        color: var(--black-dark-color-contrast);
        font-size: 14px;
    }

    .row {
        display: flex;
        justify-content: space-between;

        &-spec {
            @extend .row;
            margin-bottom: 24px;
        }

        &-total {
            @extend .row;
            margin-bottom: 30px;
        }
    }
}

@media only screen and (max-width: 1220px) {
    .container {
        --container-max-width: 1000px;
    }

    .main-banner .holder-main-banner .splide__arrows {
        width: 1000px;
        padding: 0 10px;
    }

    .cookies-warning {
        width: calc(100vw - 32px);
        padding: 33px;
    }
}

.empty-logo {
    display: inline-block;
    max-width: 150px;
    max-height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 45px;
    white-space: nowrap;
    text-align: center;
    font-size: 30px;
    color: var(--black-dark-color-contrast);
    font-family: var(--fonts-titles-family);
    font-weight: var(--fonts-titles-weight);
    text-transform: var(--fonts-titles-uppercase);
}

/* Vue Transitions */

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s;
}

.fadeHeight-enter-active,
.fadeHeight-leave-active {
    transition: all 0.5s;
    max-height: 90px;
}

.fadeHeight-enter,
.fadeHeight-leave-to {
    opacity: 0;
    max-height: 0px;
}

/* Animations */

.shake {
    animation: shake-animation 0.9s ease both;
    transform-origin: 50% 50%;
}

@keyframes shake-animation {
    0% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(5px, 0);
    }

    20% {
        transform: translate(0, 0);
    }

    30% {
        transform: translate(5px, 0);
    }

    40% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(5px, 0);
    }

    60% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}