@import "./mixins/_breakpoints.scss";

.stepper-container {
    width: 100%;

    > .progressbar {
        height: 40px;

        li {
            background-color: var(--black-lightest);
            border: 2px solid var(--black-lightest);
            border-radius: 20px;
            color: white;
            cursor: pointer;
            display: inline-block;
            height: 30px;
            list-style-type: none;
            margin: 5px 28px 45px;
            position: relative;
            width: 30px;

            @include sm {
                margin: 5px 20px 45px;
            }

            p {
                font-size: var(--font-12);
                font-weight: var(--font-bold);
                line-height: 14px;
                padding: 6px 0 0 1.8px;
            }

            &::before {
                background-color: var(--black-lightest);
                content: "";
                height: 5px;
                left: 33px;
                position: absolute;
                top: 12px;
                width: 23px;
                z-index: -1;

                @include sm {
                    left: 35px;
                    width: 14px;
                }
            }

            &::after {
                background-color: var(--black-lightest);
                content: "";
                height: 5px;
                left: -30px;
                position: absolute;
                top: 12px;
                width: 23px;
                z-index: 0;

                @include sm {
                    left: -21px;
                    width: 13px;
                }
            }

            &:first-child::after {
                display: none;
            }

            &:last-child::before {
                display: none;
            }

            &.active {
                background-color: var(--color-general-primary);
                border: 2px solid var(--color-general-primary);

                &::before {
                    background-color: var(--color-general-primary);
                }

                &::after {
                    background-color: var(--color-general-primary);
                }
            }
        }
    }
}
