table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    td,
    th {
        padding: 15px 15px 12px;
        border: solid 1px var(--black-lightest);
        text-align: left;
    }
}
