@use '../tokens/tokens';

.grid {
  display: grid;
}

@for $i from 1 to 13 {
  .grid-cols-#{$i} {
    grid-template-columns: repeat($i, minmax(0, 1fr));
  }

  .col-span-#{$i} {
    grid-column: span $i / span $i;
  }

  .grid-rows-#{$i} {
    grid-template-rows: repeat($i, minmax(0, 1fr));
  }

  .row-span-#{$i} {
    grid-row: span $i / span $i;
  }

  .gap-#{$i} {
    gap: "#{$i}px"
  }

  .gap-y-#{$i} {
    column-gap: "#{$i}px"
  }

  .gap-x-#{$i} {
    row-gap: "#{$i}px"
  }
}

.grid-rows-none {
  grid-template-rows: none;
}

.grid-rows-subgrid {
  grid-template-rows: subgrid;
}

.col-auto {
  grid-column: auto;
}

.col-span-full {
  grid-column: 1 / -1;
}

.grid-cols-none {
  grid-template-columns: none;
}

.grid-cols-subgrid {
  grid-template-columns: subgrid;
}

@for $i from 1 to 14 {
  .col-start-#{$i} {
    grid-column-start: $i;
  }

  .col-end-#{$i} {
    grid-column-end: $i;
  }

  .row-start-#{$i} {
    grid-row-start: $i;
  }

  .row-end-#{$i} {
    grid-row-end: $i;
  }
}

.row-end-auto {
  grid-row-end: auto;
}

.row-auto {
  grid-row: auto;
}

.row-span-full {
  grid-row: 1 / -1;
}

.grid-start-auto {
  grid-column-start: auto;
}

.grid-end-auto {
  grid-column-end: auto;
}

@each $bpKey, $minWidth in tokens.$sizes-min {
  @media (min-width: $minWidth) {
    .#{$bpKey}\:grid {
      display: grid;
    }
    
    @for $i from 1 to 13 {
      .#{$bpKey}\:grid-cols-#{$i} {
        grid-template-columns: repeat($i, minmax(0, 1fr));
      }
    
      .#{$bpKey}\:col-span-#{$i} {
        grid-column: span $i / span $i;
      }
    
      .#{$bpKey}\:grid-rows-#{$i} {
        grid-template-rows: repeat($i, minmax(0, 1fr));
      }
    
      .#{$bpKey}\:row-span-#{$i} {
        grid-row: span $i / span $i;
      }

      .#{$bpKey}\:gap-#{$i} {
        gap: #{$i}px
      }
    
      .#{$bpKey}\:gap-y-#{$i} {
        column-gap: #{$i}px
      }
    
      .#{$bpKey}\:gap-x-#{$i} {
        row-gap: #{$i}px
      }
    }
    
    .#{$bpKey}\:grid-rows-none {
      grid-template-rows: none;
    }
    
    .#{$bpKey}\:grid-rows-subgrid {
      grid-template-rows: subgrid;
    }
    
    .#{$bpKey}\:col-auto {
      grid-column: auto;
    }
    
    .#{$bpKey}\:col-span-full {
      grid-column: 1 / -1;
    }
    
    .#{$bpKey}\:grid-cols-none {
      grid-template-columns: none;
    }
    
    .#{$bpKey}\:grid-cols-subgrid {
      grid-template-columns: subgrid;
    }
    
    @for $i from 1 to 14 {
      .#{$bpKey}\:col-start-#{$i} {
        grid-column-start: $i;
      }
    
      .#{$bpKey}\:col-end-#{$i} {
        grid-column-end: $i;
      }
    
      .#{$bpKey}\:row-start-#{$i} {
        grid-row-start: $i;
      }
    
      .#{$bpKey}\:row-end-#{$i} {
        grid-row-end: $i;
      }
    }
    
    .#{$bpKey}\:row-end-auto {
      grid-row-end: auto;
    }
    
    .#{$bpKey}\:row-auto {
      grid-row: auto;
    }
    
    .#{$bpKey}\:row-span-full {
      grid-row: 1 / -1;
    }
    
    .#{$bpKey}\:grid-start-auto {
      grid-column-start: auto;
    }
    
    .#{$bpKey}\:grid-end-auto {
      grid-column-end: auto;
    }
  }
}
