body:not(.home) {
    .header {
        border-bottom: solid 1px var(--black-lightest);
    }
}

.header {
    position: relative;
    background-color: var(--header-bg-color);
    color: var(--header-font-color);

    svg {
        fill: var(--menu-text-color);

        @media screen and (max-width: 700px) {
            fill: var(--header-icon-color);
        }
    }
}