@media only screen and (max-width: 700px) {
    .category-options {
        margin: 32px 0 20px;
        padding: 0 16px;
        border-top: solid 1px var(--default-background-color);
        border-bottom: solid 1px var(--default-background-color);

        & > div {
            flex: 1;
            height: 18px;
            margin: 16px 0;
            color: var(--black-medium-color-contrast);

            &.holder-sort {
                font-size: 0;
            }

            &:not(.holder-sort) {
                span {
                    padding-left: 8px;
                    font-size: 12px;
                    line-height: 11px;
                }

                .icon-filters {
                    margin-bottom: -1px;
                }
            }

            & + div {
                border-left: solid 1px var(--default-background-color);
            }

            select {
                border: 0;
                width: 26vw;
                font-size: 12px;
                box-shadow: none;
                padding: 0px 27px 0 5px;
                text-overflow: ellipsis;
                overflow: hidden;
                color: inherit;
            }

            .custom-select i {
                width: 8px;
                height: 5px;
                right: 14px;
            }
        }
    }

    .selected-filters {
        margin: 20px 0;
    }

    .category-content {
        .holder-results {
            margin-top: 32px;
            margin-left: 10px;
            margin-right: 10px;
        }

        .category-description {
            margin: 10px 0;
        }

        .products-list.flex,
        .products-list > .flex {
            margin-top: 0;

            .box-product {
                margin-left: 0;
                margin-right: 0;
            }
        }

        .grid-list {
            .products-list {
                &.flex,
                > .flex {
                    display: block;
                    margin: 0 0 30px 0;
                }
            }

            .box-product {
                margin: 0;
                max-width: 100%;

                &.-center {
                    text-align: left;

                    .flex {
                        justify-content: flex-start;
                    }
                }

                &:not(.-clear) {
                    padding-bottom: 20px;

                    &:not(:first-child) {
                        padding-top: 20px;
                        border-top: solid 1px var(--default-background-color);
                    }
                }

                a {
                    display: flex;

                    .holder-image {
                        padding-right: 6px;

                        .discount-tag {
                            margin-right: 6px;
                        }
                    }

                    .holder-info {
                        padding-left: 6px;
                        max-width: 50%;
                    }
                }

                .buy-button {
                    right: 14px; //to compensate the 6px padding-right on holder-image
                }
            }

            .holder-info,
            .holder-image {
                margin-top: 0;
                flex: 1;
            }

            .holder-image {
                max-width: var(--box-product-max-width);
            }

            .product-name {
                min-height: auto;
            }
        }

        .mosaic-column {
            padding-left: 6px;
            padding-right: 6px;
            max-width: 50%;
            text-align: center;

            .box-product:not(.-center) {
                text-align: left;
            }
        }

        .paginate {
            margin-left: -16px;
            margin-right: -16px;

            .more {
                width: auto;
                background-color: transparent;
            }
        }
    }
}
