.c-highlight-container {
    padding: 0 50px;
    min-height: 255px;
    overflow-x: visible !important;

    a {
        text-decoration: none !important;
    }
}

.c-highlight-header {
    display: flex;
    justify-content: space-between;

    &__title {
        width: 85%;
        word-break: break-word;

        &.--full-width {
            width: 100%;
        }

        &.--mobile {
            width: 100%;
            display: inline;
            text-align: center;
        }
    }
}

.c-highlight-content {
    margin: 30px 0 0 13px;

    @media only screen and (max-width: 700px) {
        margin: 20px 0 0 0;
    }

    .--grid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 30px 5px;
    }

    .--center {
        display: flex;
        justify-content: center;
    }

    .category-item {
        flex: 1;
        width: 100%;
        max-width: 210px;

        &:last-child {
            margin: 0;
        }
    }

    .load-more {
        margin: 25px 0 0 0;
        text-align: center;
        color: var(--black-medium-color-contrast);
        cursor: pointer;
    }

    .splide__arrow {
        position: absolute;
        top: -170px;
        width: 45px;
        height: 45px;
    }

    .splide__arrow--prev {
        right: 61px;
    }

    .splide__arrow--next {
        right: 0px;
    }

    .splide__pagination {
        bottom: -40px !important;
    }
}

.c-highlight-content--slide {
    text-align: center;
    color: var(--black-medium-color-contrast);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 0 4px;
    transition: all 0.2s ease-in-out;

    img {
        width: 100%;
        max-width: 210px;
        height: auto;
        margin: 10px 0 20px 0;
        transition: all 0.2s ease-in-out;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: var(--slides-border-radius);

        @media only screen and (max-width: 379px) {
            max-width: 150px;
        }
    }

    &:hover {
        color: var(--black-dark-color-contrast);

        img {
            background: #f5f5f5;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
        }
    }

    @media screen and (max-width: 700) {
        margin: 0 auto;
    }
}
