@import "../global/mixins/_breakpoints.scss";

.top-ratings {
    &-holder {
        padding-top: 8px;
    }

    &-name {
        line-height: 1;
        margin-bottom: 28px;
    }

    &:not(.completed) {
        .box-product {
            opacity: 0;
        }
    }

    .splide:not(.splide--ttb) .splide__pagination {
        position: static;
        margin-top: 16px;
    }

    .holder-review {
        border: 1px solid var(--default-background-color);
        border-radius: var(--theme-border-radius);
        box-shadow: 0px 1px 4px rgba(34, 34, 34, 0.05);
        font-size: var(--font-14);
        max-width: 350px;
        text-align: left;
        background-color: var(--card-general-background-color);

        img {
            border-radius: var(--mini-cart-product-border-radius);
        }

        .review-content {
            min-height: 320px;
            overflow-wrap: break-word;
            padding: 34px 23px;

            .-plr10 {
                padding: 0 10px;
            }

            .-rating {
                margin-bottom: 10px;

                .icon + .icon {
                    margin-left: 4px;
                }
            }

            .-client {
                display: block;
                font-size: var(--font-14);
                font-weight: var(--font-bold);
                margin-bottom: 14px;
            }

            .-message {
                color: var(--top-rating-message-color);
                line-height: 23px;
                margin-bottom: 16px;
                min-height: 125px;
            }

            .read-more {
                .-text {
                    font-size: var(--font-14);
                    overflow: hidden;
                    transition: height 0.3s;

                    &.expandable {
                        height: 90px;
                    }
                }
            }

            .link-alike {
                color: var(--black-dark);
                font-size: var(--font-14);
                font-weight: var(--font-medium);
                margin-top: 7px;

                &:hover {
                    text-decoration: underline;
                }
            }

            .-product {
                align-items: center;
                border-radius: var(--theme-border-radius);
                cursor: pointer;
                display: flex;
                padding: 10px 15px;
                background-color: var(--card-general-background-color);

                &:hover {
                    background-color: #f5f5f566;
                    transition: all 0.1s ease-in-out;
                }

                &-image {
                    height: 35px;
                    margin-right: 11px;
                    width: 35px;
                }

                &-link {
                    color: #111111;
                    display: flex;
                    font-size: var(--font-11);
                    text-decoration: none;

                    svg {
                        fill: #111111;
                    }

                    &:hover {
                        .redirect {
                            text-decoration: underline;
                        }
                    }
                }

                &-title {
                    color: var(--black-dark);
                    margin-bottom: 5px;

                    &:hover {
                        text-decoration: none;
                    }
                }

                .icon-star-dynamic {
                    flex: 0 0 14px;
                    height: 13px;
                    margin: 0 13px 3px 5px;
                }
            }
        }
    }

    &.has-carousel {
        .holder-top-ratings {
            .holder-left {
                display: flex;
                margin-bottom: 28px;
                max-width: calc(100% - 115px);
            }

            @media screen and (max-width: 450px) {
                .flex.-between {
                    justify-content: center;
                }
                .holder-left.flex.-vcenter {
                    max-width: 100%;
                }
            }
        }
    }

    .ratings-list {
        font-size: 0;
        flex-wrap: wrap;

        &.-loading {
            height: 324px;
        }

        &.flex,
        & > .flex {
            margin-left: -16px;
            margin-right: -16px;

            .box-rating,
            .box-rating-wrapper {
                margin-left: 16px;
                margin-right: 16px;
                flex: 1 0 215px;
            }

            .box-rating-wrapper {
                .box-rating {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }

        .splide__arrows {
            top: -43px !important;
            width: auto !important;
            right: 0;

            .splide__arrow {
                width: 45px;
                height: 45px;
                box-shadow: initial !important;

                &.splide__arrow--prev {
                    margin-right: 16px;
                }
            }
        }
    }

    @media only screen and (max-width: 1000px) {
        .ratings-list.flex,
        .ratings-list > .flex {
            .box-rating,
            .box-rating-wrapper {
                flex: 1 0 175px;
            }
        }
    }

    @media only screen and (max-width: 700px) {
        .holder-review {
            max-width: unset;
        }
    }
}
