@media only screen and (max-width: 700px) {
  .main-banner {
    --dots-displacement: -28px;
  }
  .main-banner .holder-main-banner.container {
    padding-bottom: calc(var(--dots-displacement) * -1);
    margin-bottom: var(--dots-displacement);
  }
  .main-banner .holder-main-banner.container .banner-stopwatch-holder {
    right: 38px;
  }
  .main-banner .holder-main-banner .splide .splide__arrows {
    display: none;
  }
  .main-banner .holder-main-banner .splide .splide__pagination {
    bottom: var(--dots-displacement);
  }
  section.banner-1 .banner, section.banner-2 .banner, section.banner-3 .banner {
    width: 100%;
  }
  section.banner-1 .banner-ratio, section.banner-2 .banner-ratio, section.banner-3 .banner-ratio {
    padding-top: 0;
    padding-bottom: 72.8863%;
  }
  section .holder-banner-2 > .flex,
  section .holder-banner-3 > .flex {
    flex-wrap: wrap;
  }
  section .holder-banner-2 > .flex > * + *,
  section .holder-banner-3 > .flex > * + * {
    margin-top: 16px;
    margin-left: 0;
  }
  .banner-stopwatch-holder {
    padding: 9px 0px 9px 10px;
    width: 132px;
    font-size: 16px;
    right: 16px;
    top: 16px;
  }
  .banner-stopwatch-holder i {
    min-width: 16px;
    max-width: 16px;
  }
  .holder-banner-product {
    justify-content: center;
  }
  .holder-banner-product .holder-flags {
    margin: 0 -4px 6px;
  }
  .holder-banner-product .holder {
    max-width: 471px;
  }
  .holder-banner-product .holder-image {
    width: 220px;
  }
  .holder-banner-product .product-brand {
    font-size: var(--font-12);
  }
  .holder-banner-product .product-name {
    font-size: var(--font-20);
    min-height: auto;
  }
  .holder-banner-product .product-old-price {
    font-size: var(--font-12);
  }
  .holder-banner-product .product-actual-price {
    font-size: var(--font-22);
  }
  .holder-banner-product .installment-text {
    font-size: var(--font-14);
  }
}
